

<wrapper>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Proizvodi na akciji <img src="../../../images/akcija.jpg" style="width:40px;height:40px;"></h1>

        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Popis proizvoda
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <input *ngIf="config.filtering" placeholder="Pretraga po nazivu"
                               [ngTableFiltering]="config.filtering"
                               (tableChanged)="onChangeTable(config)"/>

                        <br><br>

                        <ngTable [config]="config.sorting"
                                 (tableChanged)="onChangeTable(config)"
                                 [rows]="rows" [columns]="columns">
                        </ngTable>

                        <pagination *ngIf="config.paging"
                                    class="pagination-sm"
                                    [(ngModel)]="page"
                                    [totalItems]="length"
                                    [itemsPerPage]="itemsPerPage"
                                    [maxSize]="maxSize"
                                    [boundaryLinks]="true"
                                    [rotate]="false"
                                    (pageChanged)="onChangeTable(config, $event)"
                                    (numPages)="numPages = $event">
                        </pagination>

                        <pre *ngIf="config.paging" class="card card-block card-header">Stranica: {{page}} / {{numPages}}</pre>
                    </div>

                    <br>

                    <button (click)="goBack()" class="btn btn-primary">Natrag</button>

                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>


        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</wrapper>



